[Unit]
Description=CamillaDSP Backend and GUI
After=default.target

[Service]
Type=idle
ExecStart=/opt/camillagui_backend/camillagui_backend

[Install]
WantedBy=default.target