[Unit]
Description=CamillaDSP Backend and GUI
After=default.target

[Service]
Type=idle
User=username
WorkingDirectory=~
ExecStart=python3 camilladsp/camillagui/main.py

[Install]
WantedBy=default.target